.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #8a2b06;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }
  .logoBlock{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    background-image: url("/src/components/images/food-delivery.png");
    background-size: contain;
    height: 50px;
    width: 50px;
    z-index: 11;
    
  }
  .name{
   
    margin-inline-start: 10px;
  }
  
  .main-image {
    width: 100%;
    height: 35rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  } 

  @media (max-width: 750px) {
    .header {
      height: 4rem;
      padding: 0 6%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      z-index: 10;
    }
    .logoBlock{
      height: 4rem;
    }
    .name h1{
     
      font-size: 26px;
    }
    
  }
  @media (max-width: 612px) {
    .header {
      height: 3rem;
      padding: 0 6%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      z-index: 10;
    }
    .logoBlock{
      height: 3rem;
    }
    .name{
      margin-inline-start: 5px;
    }
    .name h1{
      
      font-size: 15px;
    }
    .logo{
      height: 30px;
      width: 30px;
    }
    
  }